<?xml version="1.0"?>
<config>
    <modules>
        <Mage_CustomLayout>
            <version>0.1.0</version>
        </Mage_CustomLayout>
    </modules>
    <frontend>
        <layout>
            <updates>
                <customlayout>
                    <file>customlayout.xml</file>
                </customlayout>
            </updates>
        </layout>
    </frontend>
</config>